div.App {
  width: 700px;
  margin-left: calc((100% - 700px) / 2);
}
/* HEADER */
.App header {
  text-align: center;
  font-size: 45px;
  margin: 10px 0 5px;
  color: #f6e6e4;
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
}
/* MAIN */
.App main {
    text-align: center;
    /* margin: 20px 0; */
  }
/* FOOTER */
.App footer {
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
    color: #f6e6e4;
}

