section.meaning-block h4 {
  margin: 5px 0;
}

section.meaning-block div.meaning-each {
  margin: 10px 0;
  text-align: left;
}

section.meaning-block p span{
  margin: 5px 0 10px;
  display: inline block;
  color: black;
  font-size: 16px;
  font-style: normal;

}

section.meaning-block p {
  font-size: 15px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.67);
  margin-top: 27px;
}
section.meaning-block strong {
  color: #212529;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
