section.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px 5px
}
section.photos img{
  border-radius: 5px;
}

/* section.photos div {
  float: left;
  display: inline-block;
} */